@charset "UTF-8"


  *{ 
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
   }
   body{
     background-image: linear-gradient( to bottom, #F1D8C9 , #F2CA7E);
   }
    
   main{
      background-color: white;
      border-radius: 10px;
      box-shadow: 5px , 5px , 15px , #b48f7a;
      width: 600px;
      padding: 10px;
      margin: auto;
    }
    
    h1{
      color: #F39209;
      text-align: center;
            text-shadow: 1px, 2px, 0px, #975a05c2;
    }

    h2{
    color: #125189;
    }

   p{
     text-align: justify;
    }
